.date {
    width: 200px;
    height: 30px;
    border: 1px solid #5fdbb9;
    border-radius: 3px;
    padding-left: 10px;
}

.buy {
    line-height: 30px;
    height: 30px;
    font-weight: bold;
    color: #333333;
    margin-left: 10px;
}

.search_btn {
    height: 30px;
    position: relative;
    left: 10px;
}

#search_text {
    width: 200px;
    height: 30px;
    border: 1px solid #5fdbb9;
    border-radius: 3px;
    padding-left: 10px;
}