<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.blazer.bigclient.mapper.ClFormalUserMapper" >
  <resultMap id="BaseResultMap" type="org.blazer.bigclient.model.ClFormalUser" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="phone_number" property="phoneNumber" jdbcType="BIGINT" />
    <result column="report_or_allot" property="reportOrAllot" jdbcType="VARCHAR" />
    <result column="report_or_allot_date" property="reportOrAllotDate" jdbcType="VARCHAR" />
    <result column="user_identify" property="userIdentify" jdbcType="VARCHAR" />
    <result column="if_delete" property="ifDelete" jdbcType="INTEGER" />
    <result column="if_performance_pool" property="ifPerformancePool" jdbcType="VARCHAR" />
    <result column="mtime" property="mtime" jdbcType="TIMESTAMP" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <!-- 自定义DTO对象 -->
  <resultMap id="DTOResultMap" type="org.blazer.bigclient.body.FormalUserBean">
    <id column="id" property="userId"/>
    <result column="phone_number" property="phoneNumber"/>
    <result column="report_or_allot" property="reportOrAllot"/>
    <result column="report_or_allot_date" property="reportOrAllotDate"/>
    <result column="user_identify" property="userIdentify"/>
    <result column="actual_name" property="investmentAdviser"/>
    <result column="if_performance_pool" property="ifPerformancePool"/>
    <result column="version_no" property="versionNo"/>
    <result column="start_date" property="startDate"/>
    <result column="end_date" property="endDate"/>
  </resultMap>


  <select id="selectMaxVersionList" resultMap="DTOResultMap">
    SELECT
      a.id,
      a.phone_number,
      a.report_or_allot,
      a.report_or_allot_date,
      a.user_identify,
      c.actual_name,
      a.if_performance_pool,
      b.version_no,
      b.start_date,
      b.end_date
    FROM
      cl_formal_user AS a
      JOIN cl_formal_user_version AS b ON a.id = b.user_id
      JOIN kam_advisor AS c ON b.advisor_id = c.id
      LEFT OUTER JOIN (SELECT user_id,max(version_no) AS max_version_no FROM cl_formal_user_version	GROUP BY user_id) AS d ON a.id = d.user_id
      LEFT OUTER JOIN (SELECT	id,user_id,advisor_id	FROM cl_formal_user_version
        WHERE
        <![CDATA[
        (start_date<=#{dateStart} AND coalesce(end_date,date(now()))>=#{dateEnd})
        OR (start_date<=#{dateStart} AND coalesce(end_date,date(now()))<=#{dateEnd} AND #{dateStart}<=coalesce(end_date,date(now())))
        OR (start_date>=#{dateStart} AND coalesce(end_date,date(now()))<=#{dateEnd})
        OR (start_date>=#{dateStart} AND coalesce(end_date,date(now()))>=#{dateEnd} AND #{dateEnd}>=start_date)
        ]]>
        ) AS e ON b.id = e.id
    WHERE
      a.if_delete = 0
      AND e.id IS NOT NULL
      <if test="search != ''">
        AND a.phone_number = #{search}
      </if>
      <if test="history != 'on'">
        AND d.user_id IS NOT NULL
      </if>
    ORDER BY
      a.phone_number,
      b.start_date DESC

    <!--<choose>
      <when test="title != null">
        AND title like #{title}
      </when>
      <when test="author != null and author.name != null">
        AND author_name like #{author.name}
      </when>
      <otherwise>
        AND featured = 1
      </otherwise>
    </choose>-->

  </select>


</mapper>