<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.blazer.bigclient.mapper.ClFormalUserVersionMapper" >
  <resultMap id="BaseResultMap" type="org.blazer.bigclient.model.ClFormalUserVersion" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="advisor_id" property="advisorId" jdbcType="BIGINT" />
    <result column="version_no" property="versionNo" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="mtime" property="mtime" jdbcType="TIMESTAMP" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
  </resultMap>



  <select id="selectMaxVerNoByUid" resultType="">
    SELECT a.*
    FROM(SELECT * FROM cl_formal_user_version WHERE user_id='') a
    JOIN
    (SELECT user_id, MAX(version_no) AS max_version_no FROM cl_formal_user_version WHERE user_id='') b
    ON a.version_no=b.max_version_no;
  </select>










</mapper>