<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.blazer.bigclient.mapper.KamAdvisorMapper" >
  <resultMap id="BaseResultMap" type="org.blazer.bigclient.model.KamAdvisor" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="tid" property="tid" jdbcType="BIGINT" />
    <result column="serial_number" property="serialNumber" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="system_name" property="systemName" jdbcType="VARCHAR" />
    <result column="actual_name" property="actualName" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="mtime" property="mtime" jdbcType="TIMESTAMP" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="BodyResultMap" type="org.blazer.bigclient.body.AdvisorInfoBean">
    <id column="id" property="id"/>
    <result column="tid" property="tid"/>
    <result column="serial_number" property="serialNumber"/>
    <result column="level" property="level"/>
    <result column="system_name" property="systemName"/>
    <result column="actual_name" property="actualName"/>
    <result column="actual_name" property="investmentAdviser"/>
    <result column="if_performance_pool" property="ifPerformancePool"/>
    <result column="version_no" property="versionNo"/>
    <result column="start_date" property="startDate"/>
    <result column="end_date" property="endDate"/>
  </resultMap>

  <select id="findByPage" resultMap="BodyResultMap">
    SELECT
      a.id,
      a.tid,
      a.serial_number,
      a.`level`,
      a.system_name,
      a.actual_name,
      a.phone_number,
      a.remark,
      b.team_name,
      b.team_leader_id,
      c.actual_name,
      b.total_number,
      d.total_number2,
      b.area
    FROM
        kam_advisor AS a
    JOIN kam_advisor_team AS b ON a.tid = b.id
    JOIN kam_advisor AS c ON b.team_leader_id = c.id
    JOIN
        (
            SELECT b.team_leader_id,count(*) AS total_number2 FROM kam_advisor AS a
            JOIN kam_advisor_team b ON a.tid = b.id
            GROUP BY b.team_leader_id
        ) AS d
    ON b.team_leader_id = d.team_leader_id
    WHERE
      1=1
      <if test="search != null and search != ''">
        AND phone_number like '%#{search}%' or actual_name like '%#{search}%'
      </if>
  </select>



</mapper>