<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.blazer.bigclient.mapper.KamAdvisorMapper" >
  <resultMap id="BaseResultMap" type="org.blazer.bigclient.model.KamAdvisor" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="tid" property="tid" jdbcType="BIGINT" />
    <result column="serial_number" property="serialNumber" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="system_name" property="systemName" jdbcType="VARCHAR" />
    <result column="actual_name" property="actualName" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="mtime" property="mtime" jdbcType="TIMESTAMP" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="BodyResultMap" type="org.blazer.bigclient.body.AdvisorInfoBean">
    <!--<field name="id" title="自动编号"/>
        <field name="serialNumber" title="投顾编号"/>
        <field name="level" title="投顾级别"/>
        <field name="systemName" title="系统用户名"/>
        <field name="actualName" title="投顾姓名"/>
        <field name="phoneNumber" title="手机号码"/>
        <field name="email" title="邮箱地址"/>
        <field name="teamName" title="所属团队"/>
        <field name="teamLeaderName" title="所属团队组长"/>
        <field name="totalNumber" title="所属团队总人数"/>
        <field name="area" title="所属团队所在地"/>-->
    <id column="id" property="id"/>
    <result column="serial_number" property="serialNumber"/>
    <result column="level" property="level"/>
    <result column="system_name" property="systemName"/>
    <result column="actual_name" property="actualName"/>
    <result column="phone_number" property="phoneNumber"/>
    <result column="remark" property="email"/>
    <result column="team_name" property="teamName"/>
    <result column="team_leader_name" property="teamLeaderName"/>
    <result column="total_number2" property="totalNumber"/>
    <result column="area" property="area"/>
  </resultMap>

  <select id="findByPage" resultMap="BodyResultMap">
    SELECT
      a.id,
      a.serial_number,
      a.`level`,
      a.system_name,
      a.actual_name,
      a.phone_number,
      a.remark,
      b.team_name,
      c.actual_name AS team_leader_name,
      d.total_number2,
      b.area
    FROM
        kam_advisor AS a
    JOIN kam_advisor_team AS b ON a.tid = b.id
    JOIN kam_advisor AS c ON b.team_leader_id = c.id
    JOIN
        (
            SELECT b.team_leader_id,count(*) AS total_number2 FROM kam_advisor AS a
            JOIN kam_advisor_team b ON a.tid = b.id
            GROUP BY b.team_leader_id
        ) AS d
    ON b.team_leader_id = d.team_leader_id
    WHERE
      1=1
      <if test="search != null and search != ''">
        AND a.phone_number like CONCAT('%',#{search},'%' )
      </if>
    ORDER BY b.area ASC,b.team_name ASC,a.serial_number ASC,a.`level` ASC
  </select>



</mapper>