<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.blazer.bigclient.mapper.PaCurrentSalesScaleAccountingMapper" >

  <resultMap id="BaseResultMap" type="org.blazer.bigclient.model.PaCurrentSalesScaleAccounting" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="BIGINT" />
    <result column="report_or_allot" property="reportOrAllot" jdbcType="VARCHAR" />
    <result column="report_or_allot_date" property="reportOrAllotDate" jdbcType="VARCHAR" />
    <result column="investment_adviser" property="investmentAdviser" jdbcType="VARCHAR" />
    <result column="user_identify" property="userIdentify" jdbcType="VARCHAR" />
    <result column="basic_product_name" property="basicProductName" jdbcType="VARCHAR" />
    <result column="monthly_purchase_amount" property="monthlyPurchaseAmount" jdbcType="DOUBLE" />
    <result column="purchase_date" property="purchaseDate" jdbcType="VARCHAR" />
    <result column="monthly_purchase_amount_10" property="monthlyPurchaseAmount10" jdbcType="DOUBLE" />
    <result column="if_report" property="ifReport" jdbcType="VARCHAR" />
    <result column="effective_current_sales_scale" property="effectiveCurrentSalesScale" jdbcType="DOUBLE" />
    <result column="deferred_next_month" property="deferredNextMonth" jdbcType="DOUBLE" />
    <result column="mtime" property="mtime" jdbcType="TIMESTAMP" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>