<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.blazer.bigclient.mapper.PaCustomersAccountingMapper" >
  <resultMap id="BaseResultMap" type="org.blazer.bigclient.model.PaCustomersAccounting" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="uid" property="uid" jdbcType="BIGINT" />
    <result column="ending_balance" property="endingBalance" jdbcType="VARCHAR" />
    <result column="ending_not_less_than_fifty" property="endingNotLessThanFifty" jdbcType="INTEGER" />
    <result column="buy_amount" property="buyAmount" jdbcType="VARCHAR" />
    <result column="beginning_balance" property="beginningBalance" jdbcType="VARCHAR" />
    <result column="beginning_no_greater_than_fifty" property="beginningNoGreaterThanFifty" jdbcType="INTEGER" />
    <result column="matching_period_initial_value" property="matchingPeriodInitialValue" jdbcType="VARCHAR" />
    <result column="beginning_comparison" property="beginningComparison" jdbcType="VARCHAR" />
    <result column="difference" property="difference" jdbcType="VARCHAR" />
    <result column="redemption_order" property="redemptionOrder" jdbcType="VARCHAR" />
    <result column="revise" property="revise" jdbcType="VARCHAR" />
    <result column="error_query" property="errorQuery" jdbcType="VARCHAR" />
    <result column="mtime" property="mtime" jdbcType="TIMESTAMP" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>