<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.blazer.bigclient.mapper.SrCurrentSalesDetailsMapper" >
  <resultMap id="BaseResultMap" type="org.blazer.bigclient.model.SrCurrentSalesDetails" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="uid" property="uid" jdbcType="BIGINT" />
    <result column="base_product_name" property="baseProductName" jdbcType="VARCHAR" />
    <result column="purchase_amount" property="purchaseAmount" jdbcType="VARCHAR" />
    <result column="current_assets_total" property="currentAssetsTotal" jdbcType="VARCHAR" />
    <result column="purchase_date" property="purchaseDate" jdbcType="VARCHAR" />
    <result column="mtime" property="mtime" jdbcType="TIMESTAMP" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>